<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.binoculars">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Binoculars">
        <activity
            android:name=".barcode.BarcodeAnalyzerActivity"
            android:exported="true" />
        <activity
            android:name=".textrecognition.TextRecognitionActivity"
            android:exported="true" />
        <activity
            android:name=".imagelabeler.ImageLabelingActivity"
            android:exported="true" />
        <activity
            android:name=".facedetect.FaceDetectActivity"
            android:exported="true" />
        <activity
            android:name=".BaseLensActivity"
            android:exported="true" />
        <activity
            android:name=".barcode.BarcodeActivity"
            android:exported="true" />
        <activity
            android:name=".CameraActivity2"
            android:exported="true" />
        <activity
            android:name=".CameraActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>